<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adding a show</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>

<div th:replace="index :: nav"></div>

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/movies/update/{id}(id=${movie.id})}" th:object="${movie}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="title" class="col-form-label">Title</label> <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title"> <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="category" class="col-form-label">Category</label> <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Category"> <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Description </label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Opis"> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="length" class="col-form-label">Duration</label> <input type="text" th:field="*{length}" class="form-control" id="length" placeholder="Duration"> <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="minAge" class="col-form-label">Minimal age</label> <input type="text" th:field="*{minAge}" class="form-control" id="minAge" placeholder="Minimal age"> <span th:if="${#fields.hasErrors('minAge')}" th:errors="*{minAge}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="imageUrl" class="col-form-label">Movie photo</label> <input type="text" th:field="*{imageUrl}" class="form-control" id="imageUrl" placeholder="Movie photo"> <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Edit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $('#navigation_2_dropdown_1').on("click", function(){
        $('.dropdown-menu').toggleClass("active");
    });

    $('.dropdown-menu div div').on('click' , function(){	$('#navigation_2_dropdown_1').text($(this).text());
        $('.dropdown-menu').toggleClass("active");
    })
</script>
</html>